@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';;
    padding: 0;
    margin: 0;
}
h1{
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 77px;
    text-transform: capitalize;
    color: #151515;
    /* padding-left: 12px; */
    padding: 60px 0px 0px 12px;
}
h2{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
    /* margin-top: -445px; */
    padding: 60px 0px 0px 12px;

}
/* h1,h2,h3,h4,p{
    padding: 0;
    margin: 0;
} */
.container{
    margin: 0 auto;
    width: 1440px;
    height: 4618px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}
.first-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 982px;
    border: 1px dashed black;
    padding-top: 40px;
}
.background{
    width: 1440px;
    height: 1307px;
    background:url(images/backgroung.png) no-repeat;
}

/* Start Header */
.header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 1110px;
    height: 36.42px;
}
.logo{
    padding-top: 5px;
}
.ul-nav{
    margin-left: 35px;
}
.li-nav{
    display: inline-block;
    padding-left: 13px;
}
.li-nav > a{
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.li-nav > a:hover{
    transition: 0.3s;
    color: rgba(101, 98, 147, 1);
}
.sign-in, .register{
    border: none;
    border-radius: 5px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.register{
    text-decoration: none;
    color: black;
    padding: 5.8px 23px 5.8px 23px;
}
.sign-in{
    background-color:rgba(101, 98, 147, 1);
    padding: 5px 23px 5px 23px;
}
.register:hover{
    background-color: rgba(101, 98, 147, 1);
    color: #fff;
    transition: 0.3s;
}
.sign-in:hover{
    background-color: transparent;
    color: black;
    transition: 0.3s;
}
/* End Header */

/* Start Contents */
.content{
    margin-top: 75px;
    display: flex;
    justify-content:space-between;
    width: 1132px;
    height: 451px;
}
.high{
    color: rgba(101, 98, 147, 1);
    font-weight: 600;
    text-transform: uppercase;
}
.explore{
    display: flex;
    justify-content:stretch;
    gap: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151515;
    padding: 7px 0px 0px 12px;
}
.explore:hover{
    color:rgba(101, 98, 147, 1);
    transition: 0.5s;
}
.arrow-right:hover{
    transform: translate(5px);
    transition: 0.5s;
}
.main{
   
}

/*  */
.flight{
    width: 1110px;
    height: 265px;
    background: #FFFFFF;
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
    border-radius: 12px;
    margin-top: 35px;
}

/* Second Page */
.second-page{
    border: 1px solid greenyellow;
}
