@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';;
    padding: 0;
    margin: 0;
}
h1{
    font-style: normal;
    font-weight: 400;
    font-size: 66px;
    line-height: 77px;
    text-transform: capitalize;
    color: #151515;
    padding: 60px 0px 0px 12px;
}
h2{
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    text-transform: capitalize;
    color: #000000;
}
h3{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-top: -15px;
}
h4{
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #151515;
    padding: 0;
    margin: 0;
}
/* h1,h2,h3,h4,p{
    padding: 0;
    margin: 0;
} */
.container{
    margin: 0 auto;
    width: 1440px;
    height: 4618px;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    border: 1px solid red;
}
.first-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 982px;
    border: 1px dashed black;
    padding-top: 40px;
}
.background{
    width: 1440px;
    height: 922px;
    background:url(images/backgroung.png) no-repeat;
}

/* Start Header */
.header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 1110px;
    height: 36.42px;
}
.logo{
    padding-top: 5px;
}
.ul-nav{
    margin-left: 35px;
}
.li-nav{
    display: inline-block;
    padding-left: 13px;
}
.li-nav > a{
    text-decoration: none;
    color: black;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.li-nav > a:hover{
    transition: 0.3s;
    color: rgba(101, 98, 147, 1);
}
.sign-in, .register{
    border: none;
    border-radius: 5px;
    color: white;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}
.register{
    text-decoration: none;
    color: black;
    padding: 5.8px 23px 5.8px 23px;
}
.sign-in{
    background-color:rgba(101, 98, 147, 1);
    padding: 5px 23px 5px 23px;
}
.register:hover{
    background-color: rgba(101, 98, 147, 1);
    color: #fff;
    transition: 0.3s;
}
.sign-in:hover{
    background-color: transparent;
    color: black;
    transition: 0.3s;
}
/* End Header */

/* Start Contents */
.content{
    margin-top: 75px;
    display: flex;
    justify-content:space-between;
    width: 1132px;
    height: 451px;
}
.high{
    color: rgba(101, 98, 147, 1);
    font-weight: 600;
    text-transform: uppercase;
}
.explore{
    display: flex;
    justify-content:stretch;
    gap: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #151515;
    padding: 7px 0px 0px 12px;
}
.explore:hover{
    color:rgba(101, 98, 147, 1);
    transition: 0.5s;
}
.arrow-right:hover{
    transform: translate(5px);
    transition: 0.5s;
}
/*  */
.flight{
    width: 1110px;
    height: 265px;
    /* background: #2b2a2a; */
    background: #fff;
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
    border-radius: 12px;
    margin-top: 35px;
}

/* Second Page */
.second-page{
    width: 1440px;
    height: 1215px;
    padding: 0;
    margin-bottom: 20px;
}
.jet-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    gap: 37px;
    margin: 130px 150px 52px 117px;
}
.bus-container{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    gap: 37px;
    flex-direction: row-reverse;
    margin: 175px 150px 60px 200px;
    margin-bottom: 15px;
}
.back1{
    position: absolute;
    z-index: -1;
    top: -68px;
    left: -115px;
}
.back2{
    position: absolute;
    z-index: -1;
    top: -65px;
    right: -150px;
}
.jet-image{
    margin-left: 83px;
}
.jet-image2{
    padding: 0;
    margin: 0;
}
.text-container{
    display: flex;
    flex-direction: column;
}
.jet-txt{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    letter-spacing: 0.02em;
    color: rgba(21, 21, 21, 0.6);
    padding: 0;
    margin-top: 5px;
}
/* Third Page */
.pri-container{
    display: flex;
    gap: 35px;
    margin-top: 70px;
    margin-bottom: 67px;
}
.div-container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.div-container .div{
    width: 370px;
    height: 268px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
    gap: 10px;
    background: #FFFFFF;
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
    border-radius: 12px;
}
.image{
    width: 297px;
    height: 565px;
    display: flex;
    align-items: center;
}
.txt{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: rgba(21, 21, 21, 0.6);
    padding: 2px 50px 5px 50px;
}
.lux-charters{
    position: relative;
    margin-bottom: 68px;
}
.lux-container{
    margin-top: 68px;
    display:flex;
    gap: 30px;
    justify-content: center;
}
.lux-container > div{
    width: 255px;
    height: 251px;
    background: #FFFFFF;
    box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back3{
    position: absolute;
    z-index: -1;
    top: 90px;
    right: -165px;
    opacity: 20%;
}
.lux-img{
    width: 230px;
    height: 190px;
    border-radius: 12px;
    margin-top: 10px;
}
.lux-txt{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #151515;
}

.pre-container{
    display: flex;
    gap: 25px;
    margin-top: 100px;
}
.pre-container > div{
 
}
.first, .third{
    width: 400px;
    height: 572px;
}
.first{
    background: #F5F5F5;
    border-radius: 20px 0px 0px 20px;
}
.second{
    width: 384px;
    height: 572px;
    background: #656293;
    border-radius: 20px;
    margin-top: -37px;
}
.third{
    background: #F5F5F5;
    border-radius: 0px 20px 20px 0px;
}
.text{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #151515;
    text-align: left;
}
.p-txt{
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 33px;
    color: #A9A9AA;
}
.li-exper{
    list-style-image: url(icons/right1.svg);
}
.li-exper-light{
    list-style-image: url(icons/right2.svg);
}
hr{
    border: 1px dashed #A9A9AA;
    width: 352px;
}
.high2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    text-transform:lowercase;
}
.choose{
    padding: 10px 135px 10px 135px;
    background: #656293;
    border-radius: 12px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;

}
