@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
* {
    box-sizing: border-box;
}
body{
    font-family: 'Poppins';;
    padding: 0;
    margin: 0;
}
h1{
    font-weight: ;
}
/* h1,h2,h3,h4,p{
    padding: 0;
    margin: 0;
} */
.container{
    margin: 0 auto;
    width: 1440px;
    height: 4618px;
    border: 1px solid black;
    display: flex;
}
.first-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 982px;
    border: 1px solid green;
}
.background{
    width: 1440px;
    height: 1307px;
    background:url(/backgroung.png) no-repeat;
}
/* Contents */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    width: 1110px;
    height: 36.42px;
    border: 1px solid red;
}
.content{
    width: 1110px;
    height: 451px;
    border: 1px solid blue;
}
.flight{
    width: 1110px;
    height: 306px;
    border: 1px solid black;
}
.ul-nav{

}
.li-nav{
    display: inline-block;
    padding-left: 10px;
}
.register{
    background-color: transparent;
    padding: 5px 23px 5px 23px;
    border: none;
    border-radius: 5px;
}
.sign-in{
    background-color:rgba(101, 98, 147, 1);
    padding: 5px 23px 5px 23px;
    border: none;
    border-radius: 5px;
    color: white;
}
.register:hover{
    background-color: rgba(101, 98, 147, 1);
    color: #fff;
    transition: 0.3s;
}
.sign-in:hover{
    background-color: transparent;
    color: black;
    transition: 0.3s;
}